.board {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-span-input {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.board-span {
  font-size: 22px;
  color: #00007e;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
}

.board-input-1 {
  width: 100px;
  height: 50px;
  border-radius: 16px;
  border: 2px solid #00007e;
  font-size: 18px;
  padding: 0 20px;
}

.board-text-area {
  width: 600px;
  height: auto;
  min-height: 200px;
  border-radius: 16px;
  border: 2px solid #00007e;
  font-size: 18px;
  padding: 20px;
}

.board-button {
  width: 170px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background-color: #00007e;
  color: white;
  font-size: 18px;
  font-weight: 600;
}